%h1 All videos

- @video_posts.each do |video_post|
  %div
    %div.floatleft
      = image_tag(video_post.video_information.thumbnail_small)
    %div
      = video_post.video_information.title
      = link_to 'Show', video_post
      = link_to 'Edit', edit_video_post_path(video_post)
      = link_to 'Destroy', video_post, :confirm => 'Are you sure?', :method => :delete
      %br
      = video_post.video_information.description
      %br
      posted by #{link_to video_post.user.username,video_post.user} 
    .spacer
    %hr
    

%br

= link_to 'New Video post', new_video_post_path
