%h1 All videos

- @video_posts.each do |video_post|
  %ul.videos_list
    %li
      = link_to image_tag(video_post.video_information.thumbnail_large, :size => '305x176', :force => true, :class => 'thumbnail'), video_post
      %div.floatleft
        = link_to image_tag(video_post.user.gravatar_url(:size => 20), :title => video_post.user.username), video_post.user
      %div
        = link_to video_post.video_information.title, video_post
        %br
        %p.legend posted by #{link_to video_post.user.username,video_post.user} 
    
%br
.spacer
= will_paginate @video_posts, :renderer => BootstrapPagination::Rails
    


.spacer
= link_to 'New Video post', new_video_post_path
