%p#notice= notice

%h1= @video_information.title
= raw(show_embed_video(@video_information))
%br
#{@video_post.impressionist_count} views
%br
#{@video_post.likes.size} like
- if user_signed_in?
  - if current_user != @video_post.user
    - if current_user.voted_up_on?(@video_post)
      = button_to "UnLike", :action => "like"
    - else
      = button_to "Like", :action => "like"
- else
  = button_to "Like", :action => "like"
%br
= raw(@video_information.description)
%br

%h1 #{@video_post.comments.size} Comments
= render @video_post.comments

- if user_signed_in?
  = simple_form_for [@video_post, @comment] do |f|
    = f.input :comment, label: false
    = f.button :submit, class: 'btn-success pull-right'

= link_to 'Edit', edit_video_post_path(@video_post)
\|
= link_to 'Back', video_posts_path
